@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-barlow: var(--font-barlow);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-blue-primary: #0D6EFD;

  /* Custom colors */
  --color-blue-primary: #0d6efd;

  --color-orange-background: #fd384f;
  --color-orange-hover: #e23246;
  --color-orange-primary: #fa6338;
  --color-orange-secondary: #d3031c;
  --color-orange-border: #ffe6e7;

  --color-main-primary: #191919;
  --color-main-secondary: #757575;

   /* Animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  /* Timing functions */
  --ease-bezier-1: cubic-bezier(.645,.045,.355,1);

  /* Max widths */
  --max-w-container: 1200px;
}

body {
  font-family: var(--font-inter), sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*----Product images preview dashboard----*/
.grid_3_image_1 {
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/3;
}
.grid_3_image_2 {
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
}
.grid_3_image_3 {
  height: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid_4_image_1,
.grid_4_image_2,
.grid_4_image_3,
.grid_4_image_4 {
  height: 400px !important;
}

.grid_5_image_1 {
  grid-row: 1/3;
  height: 400px;
}
.grid_5_image_2 {
  grid-row: 4/6;
  height: 400px;
}

.grid_5_image_3 {
  grid-column: 2 !important;
  grid-row: span 2;
  height: 266.66px;
}
.grid_5_image_4 {
  grid-column: 2 !important;
  grid-row: span 2;
  height: 266.66px;
}
.grid_5_image_5 {
  grid-column: 2 !important;
  grid-row: span 2;
  height: 266.66px;
}

/*--- Delete button----*/
.Btn {
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background: #2a66f9;
  background: linear-gradient(to top, #2a66f9, #bee3ff);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

.perspective-1000 {
  perspective: 1000px;
}

/* User Clerk Button */
.user-avatar .cl-avatarBox {
  width: 70px !important;
  height: 70px !important;
}

/*---Custom scrollbar---*/
.scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Define the thumb style */
.scrollbar::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 5px;
}

/* User account before */
.user-menu-item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  background-color: #fd384f;
  left: 0;
}

/* User order filter before */
.user-orders-table-tr::after {
  content: "";
  height: 3px;
  width: 24px;
  border-radius: 1.5px;
  background-color: #fd384f;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -12px;
  animation: expandWith 0.3s;
}

/* Date time picker */
.react-datetime-picker__wrapper {
  border: none !important;
}
.react-datetime-picker__inputGroup__input {
  padding: 0 3px !important;
  outline-color: #1087ff !important;
}
.react-datetime-picker__inputGroup__divider {
  margin: 0 3px !important;
}

/* Jodit editor dark mode */
.jodit_theme_dark.jodit-container {
  background-color: #1a1b1f !important;
  border-color: #eeeeee2e !important;
}

.jodit_theme_dark .jodit-toolbar__box:not(:empty) {
  background-color: #1a1b1f !important;
}

.jodit_theme_dark .jodit-wysiwyg {
  background-color: #1a1b1f !important;
}

.jodit_theme_dark .jodit-toolbar-button__button:hover svg {
  stroke: #575757 !important;
  fill: #575757 !important;
}

/* Calendar dark mode  */
.dark .react-calendar {
  background: #1a1b1f !important;
}
.dark .react-calendar__tile:enabled:hover {
  color: #000;
}
.dark .react-calendar__tile--now {
  color: #000;
}

/* Multi selct dark mode */
.dark .rmsc .dropdown-container {
  background-color: #1a1b1f !important;
  border-color: #eeeeee2e !important;
}

.panel-content {
  background-color: #1a1b1f !important;
}

.panel-content input:focus {
  background-color: #1a1b1f !important;
}

.select-item:hover {
  background-color: #303236 !important;
}
.select-item.selected {
  background-color: #303236 !important;
}

/* Home main swiper */
.awssld__wrapper {
  border-radius: 6px !important;
}

.awssld__container {
  padding-bottom: 36% !important;
}

.awssld__prev {
  transform: scale(50%) !important;
  left: -1rem !important;
}

.awssld__next {
  transform: scale(50%) !important;
  right: -1rem !important;
}

.swiper {
  width: 100% !important;
  max-width: 100% !important;
  overflow: hidden !important;
}

.swiper-slide {
  width: auto !important;
}

/*  clean product card */
/* From Uiverse.io by Smit-Prajapati */
.card {
  --accent-color: #fd384f;
  position: relative;
  width: 240px;
  background: white;
  border-radius: 1rem;
  /* border-top-right-radius: 4rem;*/
  padding: 0.3rem;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 50px 30px -20px;*/
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.card .image-container {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 0.7rem;
  border-top-right-radius: 4rem;
  margin-bottom: 1rem;
}

.card .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: inherit;
}

.card .image-container .svg {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

.card .image-container .price {
  position: absolute;
  right: 0.7rem;
  bottom: -1rem;
  background: white;
  color: var(--accent-color);
  font-weight: 900;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 1rem 1rem 2rem 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 0px;
}

.card .favorite {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.card .favorite svg {
  fill: orangered;
}

.card .content {
  padding: 0px 0.8rem;
  margin-bottom: 1rem;
}

.card .content .brand {
  font-weight: 900;
  color: #a6a6a6;
}

.card .content .product-name {
  font-weight: 700;
  color: #666666;
  font-size: 0.7rem;
  margin-bottom: 0.6rem;
}

.card .content .color-size-container {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  color: #a8a8a8;
  gap: 2rem;
  margin-bottom: 1rem;
}

.card .content .rating {
  color: #a8a8a8;
  font-size: 0.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card .button-container {
  display: flex;
  gap: 0.3rem;
}

.card .button-container .button {
  border-radius: 1.4rem 1.4rem 0.7rem 0.7rem;
  border: none;
  padding: 0.5rem 0;
  background: var(--accent-color);
  color: white;
  font-weight: 900;
  cursor: pointer;
}

.card .button-container .button:hover {
  background: orangered;
}

.card .button-container .buy-button {
  flex: auto;
}

.card .button-container .cart-button {
  display: grid;
  place-content: center;
  width: 50px;
}

.card .button-container .cart-button svg {
  width: 20px;
}

.card:hover {
  transform: scale(1.03);
}
.card:hover .image-container {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
}